@tailwind base;
@tailwind components;
@tailwind utilities;

.shine {
  background: #cadaeb9c;
  background-image: linear-gradient(
    to right,
    #f6f7f8 0%,
    #edeef1 20%,
    #f6f7f8 40%,
    #f6f7f8 100%
  );
  background-repeat: no-repeat;
  background-size: 800px 100%;
  display: inline-block;
  position: relative;

  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeholderShimmer;
  animation-timing-function: linear;

  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeholderShimmer;
  -webkit-animation-timing-function: linear;
}
@keyframes placeholderShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}
@-webkit-keyframes placeholderShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}
/* Loader style */

:root {
  --hue: 223;
  --bg: hsl(var(--hue), 90%, 95%);
  --fg: hsl(var(--hue), 90%, 5%);
  --trans-dur: 0.3s;
}
.loader .ip {
  width: 16em;
  height: 8em;
}
.loader .ip__track {
  stroke: hsl(var(--hue), 90%, 90%);
  transition: stroke var(--trans-dur);
}
.loader .ip__worm1,
.loader .ip__worm2 {
  animation: worm1 2s linear infinite;
}
.loader .ip__worm2 {
  animation-name: worm2;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: hsl(var(--hue), 90%, 5%);
    --fg: hsl(var(--hue), 90%, 95%);
  }
  .loader .ip__track {
    stroke: hsl(var(--hue), 90%, 15%);
  }
}

/* Animation */
@keyframes worm1 {
  from {
    stroke-dashoffset: 0;
  }
  50% {
    animation-timing-function: steps(1);
    stroke-dashoffset: -358;
  }
  50.01% {
    animation-timing-function: linear;
    stroke-dashoffset: 358;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes worm2 {
  from {
    stroke-dashoffset: 358;
  }
  50% {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: -358;
  }
}
/* online-offline animation */

/*======================
    404 page
=======================*/

.page_404 {
  padding: 40px 0;
  background: #fff;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url("https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif");
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
  border-radius: 8px;
}
.contant_box_404 {
  margin-top: -50px;
}
.wrapper-container {
  width: 100%;
  min-height: 100vh;
  display: relative;
  margin: 0;
  padding: 0;
  background: -webkit-linear-gradient(
    -45deg,
    #d9e5ed 0,
    #adc2d1 25%,
    #9faaba 50%,
    #7e81a6 75%,
    #22254c 100%
  );
}
.wrapper-container .wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  align-items: center;
  justify-content: center;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
/* For online off page */
.wrapper-container .wrapper h1 {
  color: white;
  font-family: arial;
  font-weight: bold;
  font-size: 50px;
  letter-spacing: 5px;
  line-height: 5rem;
  text-shadow: 0 0 3px white;
}
.wrapper-container .wrapper h4 {
  color: #f1f1f1;
  font-family: arial;
  font-weight: 300;
  font-size: 16px;
}
.wrapper-container .wrapper .button {
  display: block;
  margin: 20px 0 0;
  padding: 15px 30px;
  background: #22254c;
  color: white;
  font-family: arial;
  letter-spacing: 5px;
  border-radius: 0.4rem;
  text-decoration: none;
  box-shadow: 0 0 15px #333fef;
  /* outline: 4px solid white; */
}
